@use 'variables' as *;
@use 'color' as *;

.p-iconfield .p-inputtext:not(:first-child) {
    padding-inline-start: $padding-control-x !important;
}

.p-datepicker:has(.p-datepicker-input-icon-container) .p-datepicker-input {
    padding-inline-end: $padding-control-x;
}

.control > .p-component {
    width: 100%;
}

body {
    .p-fileupload-advanced {
        border-color: $primeNgBorderColor;
    }
    .p-panelmenu-panel {
        padding: 0;
        .active.p-component.p-panelmenu-header {
            background-color: $bg-primary;
            .p-panelmenu-submenu-icon,
            .p-panelmenu-header-content {
                color: $primary;
            }
        }
    }

    .control-wrapper .control .p-component {
        width: 100%;
    }
}
