@use 'variables' as *;

:host {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-spinner {
    width: 100%;
    display: block;
    text-align: center;
}

.form-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: $padding-standard2;
    margin-bottom: $padding-standard4;

    padding-left: $padding-standard2;
    padding-right: $padding-standard2;

}

